name: "Nit"
scopeName: "source.nit"
fileTypes: [
  "nit"
]
firstLineMatch: '^#!\\s*\\/.*\\snit'
patterns: [
  {
    include: "#strings"
  }
  {
    include: "#markup"
  }
  {
    include: "#comments"
  }
  {
    include: "#entity"
  }
  {
    include: "#keyword"
  }
  {
    include: "#constant"
  }
  {
    include: "#storage"
  }
  {
    include: "#variable"
  }
]
repository:
  "comments":
    begin: "(^[ \\t]+)?(?=#)"
    beginCaptures:
      1:
        name: "punctuation.whitespace.comment.leading.nit"
    end: "(?!\\G)"
    patterns: [
      {
        begin: "#"
        beginCaptures:
          0:
            name: "punctuation.definition.comment.nit"
        end: "\\n"
        name: "comment.line.number-sign.nit"
      }
    ]
  "character":
    name: "string.character.nit"
    match: "('[^\\\\']'|'\\\\.')"
  "simple-string":
    name: "string.quoted.double.nit"
    begin: "\\\""
    end: "\\\""
    patterns: [
      {
        include: "#short-interpolation"
      }
      {
        name: "string.char.nit"
        match: "([^\\\\]|\\\\.)"
      }
    ]
  "long-tquote-string":
    name: "string.triple.nit"
    begin: "\\\"\\\"\\\""
    end: "\\\"\\\"\\\""
    patterns: [
      {
        include: "#long-interpolation"
      }
      {
        name: "string.char.nit"
        match: "([^\\\\]|\\\\.)"
      }
    ]
  "long-tquote-alt-string":
    name: "string.triple.alt.nit"
    begin: "'''"
    end: "'''"
    patterns: [
      {
        include: "#long-interpolation"
      }
    ]
  "long-interpolation":
    name: "meta.interpolation.long.nit"
    begin: "{{{"
    end: "}}}"
    captures:
      0:
        name: 'punctuation.section.embedded.nit'
    patterns: [
      {
        include: "$self"
      }
    ]
  "short-interpolation":
    name: "meta.interpolation.short.nit"
    begin: "{"
    end: "}"
    captures:
      0:
        name: 'punctuation.section.embedded.nit'
    patterns: [
      {
        include: "$self"
      }
    ]
  "strings":
    patterns: [
      {
        include: "#long-tquote-alt-string"
      }
      {
        include: "#long-tquote-string"
      }
      {
        include: "#simple-string"
      }
      {
        include: "#character"
      }
    ]
  "variable":
    patterns: [
      {
        name: "variable.language.nit"
        match: "\\b(self)\\b"
      }
      {
        name: "variable.other.nit"
        match: "[a-z][a-zA-Z0-9_]*"
      }
    ]
  "constant":
    patterns: [
      {
        name: "constant.numeric.float_exp.nit"
        match: "-?(([0-9]*.[0-9])|([0-9]+))+e-?[0-9]+"
      }
      {
        name: "constant.numeric.float.nit"
        match: "-?[0-9]*\\.[0-9]+"
      }
      {
        name: "constant.numeric.hex.nit"
        match: "-?0(x|X)[0-9A-Fa-f_]+((u|i)(8|(16)|(32)))?"
      }
      {
        name: "constant.numeric.oct.nit"
        match: "-?0(o|O)[0-7_]+((u|i)(8|(16)|(32)))?"
      }
      {
        name: "constant.numeric.bin.nit"
        match: "-?0(b|B)[0-1_]+((u|i)(8|(16)|(32)))?"
      }
      {
        name: "constant.numeric.dec.nit"
        match: "-?[0-9][0-9_]*((u|i)(8|(16)|(32)))?"
      }
      {
        name: "constant.language.nit"
        match: "\\b(true|false|null)\\b"
      }
    ]
  "markup":
    patterns: [
      {
        name: "markup.raw.nit"
        begin: "`{"
        end: "`}"
      }
    ]
  "entity":
    patterns: [
      {
        name: "entity.name.function.nit"
        match: "(?<=fun ).*?(?=:|\\(|\\s|\\n)"
      }
      {
        name: "entity.other.inherited-class.nit"
        match: "(?<=super )[A-Z][a-zA-Z0-9_]*"
      }
      {
        name: "entity.name.type.nit"
        match: "[A-Z][a-zA-Z0-9_]*"
      }
      {
        name: "entity.other.attribute-name.nit"
        match: "_[a-z][a-zA-Z0-9_]*"
      }
    ]
  "storage":
    patterns: [
      {
        name: "storage.type.nit"
        match: "(?x)\\b(
          fun|init|class|interface|
          module|import|package|abstract|
          universal|enum
        )\\b"
      }
      {
        name: "storage.modifier.nit"
        match: "\\b(private|protected|public|intrude|extern|intern)\\b"
      }
    ]
  "keyword":
    patterns: [
      {
        name: "keyword.control.nit"
        match: "\\b(label|if|then|loop|else|while|for|do|end|in|with)\\b"
      }
      {
        name: "keyword.breaks.nit"
        match: "\\b(return|continue|break|abort)\\b"
      }
      {
        name: "keyword.declaration.nit"
        match: "\\b(nullable|once|new|var)\\b"
      }
      {
        name: "keyword.annot.nit"
        match: "\\b(is)\\b"
      }
      {
        name: "keyword.types.nit"
        match: "\\b(isa|as|type|isset)\\b"
      }
      {
        name: "keyword.other.special-method.misc.nit"
        match: "\\b(assert|__debug__|super|implies|redef)\\b"
      }
      {
        name: "keyword.operator.nit"
        match: "(?x)(
          ==|\\+=|-=|!=|=|!|@|<=>|<=|<<|<|>=|>>|>|
          \\(|\\)|\\[\\]|\\[|\\]|,|::|:|\\.\\.\\.|\\.\\.|
          \\.|\\+|-|\\*\\*|\\*|/|%
        )"
      }
      {
        name: "keyword.operator.boolean.nit"
        match: "\\b(and|not|or)\\b"
      }
    ]
